.carouselContainer {
  height: 219px;
  position: relative;
  bottom: 680px;
  z-index: 10;
  scrollbar-width: none;
  overflow-x: scroll;
  overflow-y: hidden;

  .carouselLayout {
    padding: 0 30px;
    display: flex;
    position: absolute;
  }
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 992px) {
  .carouselContainer {
    height: 653px;
    bottom: 1850px;
    overflow-x: hidden;
    &:hover {
      overflow-x: auto;
    }
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #000000;
    }
  }
}
