@import '../../styles/variables.scss';

.burger {
  height: 19px;
  width: 29px;
  position: relative;
  z-index: 3000;

  .listItem {
    width: 100%;
    height: 3px;
    background-color: $tertiary;
    transition: all 400ms ease;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &Active {
      &:first-child {
        transform: rotate(225deg);
        position: absolute;
        top: 5px;
      }

      &:last-child {
        transform: rotate(-225deg);
        position: absolute;
        top: 0px;
      }

      &:nth-child(2) {
        opacity: 0;
      }
    }
  }
}
